@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  font-family: "Poppins", sans-serif;
}
li {
  list-style-type: none;
}
p {
  color: #808080;
}
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

.navbar-brand {
  font-weight: 900;
  font-size: 2rem;
}
.navbar {
  background: rgb(255, 255, 255);
}
.navbar-brand span {
  color: rgb(255, 123, 0);
}
.container {
  max-width: 1170px;
}
.navbar-nav li a {
  font-size: 1rem;
  font-weight: 900;
  color: #191919;
}
.applab-btn {
  padding: 0.6rem 2rem;
  color: #fff;
  background-color: #1f00d4;
  font-size: 1.1rem;
  border-radius: 3rem;
}
.applab-btn:hover {
  color: #fff;
}
header {
  background: url(../images/illustrations/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 4rem;
}
.header-btn {
  background-color: #e2eaed;
  border-radius: 3rem;
  padding: 0.3rem 2rem;
}
.header-btn img {
  margin-left: -2rem;
}
.header-btn span {
  margin-left: 0.6rem;
  font-size: 0.9rem;
  font-weight: 600;
}

.hero h1 {
  font-size: 3.2rem;
  color: rgb(36, 47, 81);
  font-weight: 700;
  margin-top: 1.2rem;
}
.hero p {
  font-weight: 400;
  font-size: 1.2rem;
}
.hero a {
  text-decoration: none;
  font-size: 1.1rem;
}
.hero a:hover {
  text-decoration: underline;
}
.extra {
  position: relative;
}
.extra a {
  position: absolute;
  top: 2.2rem;
  left: 11rem;
}
.hero-img {
  margin-top: 8rem;
}
section {
  margin: 6rem 0;
}
.companies h2 {
  color: #808080;
  font-size: 1.3rem;
  font-weight: 400;
}
.apps .apps-heading {
  color: #242f51;
  font-weight: 700;
  font-size: 2.1rem;
}
.apps-para {
  margin-top: 2rem;
  color: #808080;
  font-size: 1.15rem;
}
.content-info h1 {
  font-size: 1.3rem;
  font-weight: 900;
}
.content-info .fast {
  color: #f77d89;
}
.content-info .proto {
  color: #2500f9;
}
.content-info .vector {
  color: #40975f;
}
.content-info .apps .content-info p {
  font-size: 1rem;
}
.content-info {
  margin: 1rem 2.2rem;
}
.jackpots {
  padding-left: 7rem;
  position: relative;
}
.jack-head {
  color: #242f51;
  font-weight: 900;
}
.jackpots::after {
  content: "";
  position: absolute;
  top: 3rem;
  left: 35rem;
  width: 0.1rem;
  height: 11rem;
  background-color: #e1e0e4;
}
.features .content-img img {
  margin: 0 0 1.2rem 2rem;
}

.design h1 {
  color: rgb(36, 47, 81);
  font-weight: 900;
  font-size: 2.3rem;
  margin-bottom: 1.8rem;
}
.design p {
  margin-bottom: 1.5rem;
}
.chose-app .row h1,
.ultimate .row .col-lg-6 .row h1 {
  font-size: 1.3rem;
  color: #242f51;
  font-weight: 800;
}
.chose-app h1,
.ultimate h1,
.pricing-card h1 {
  font-size: 2.4rem;
  font-weight: 900;
  color: #242f51;
}

.chose-app .row .col-lg-4 {
  margin-top: 3rem;
}

.chose-app .row .col-lg-4 img {
  margin-bottom: 2rem;
}
.ultimate .row .col-lg-6 .row {
  margin-top: 3rem;
}
.ultimate .row .col-lg-6 .row h1 {
  margin: 1.4rem 0 0.5rem 0;
}
.ultimate .row .col-lg-6 {
  margin-bottom: 1.5rem;
}
.pricing-card .row {
  margin-top: 6rem;
}
.card {
  padding-bottom: 2rem;
  transition: transform 0.3s;
}
.card:hover {
  transform: translateY(-1.1rem);
}
.card-heading {
  padding: 3rem 0;
  background-color: #f9f9f9;
  padding-bottom: 2.5rem;
  line-height: 2;
}
.card-heading .card-price span {
  color: #242f51 !important;
  font-size: 2rem;
  font-weight: 800;
}

.card-body {
  margin: 2rem 0 0.3rem -2rem;
  line-height: 2.2;
}
.card-body li {
  color: #808080;
}
.card .btn {
  margin-bottom: 1.3rem;
}
.card-category {
  font-weight: 900;
  color: #242f51;
  font-size: 1.5rem;
}
.second-card {
  transform: translateY(-0.9rem);
}
.testimonial {
  margin-top: 12rem;
}
.ratings i {
  color: #ffcc00;
}
.testimonial__header,
.download h1 {
  color: #242f51;
  font-weight: 900;
  font-size: 2.2rem;
}
.person__heading {
  font-size: 1.7rem;
  font-weight: 900;
  color: #242f51;
}
.person__info h1 {
  font-size: 1.3rem;
  font-weight: 900;
  color: #242f51;
}
.faq {
  margin-top: 12rem;
}
.faq p {
  margin: 2rem 0 5rem 0;
}
.accordion-item {
  margin-top: 0.8rem;
}
.accordion-item .accordion-button {
  font-size: 1.4rem;
  font-weight: 900;
  color: #242f51;
  background-color: #f5f7fa;
  padding-bottom: 1.4rem;
}
.download h1 {
  font-size: 2.8rem;
  margin-bottom: 1.2rem;
}
footer {
  max-height: 500px;
  background-color: #242f51;
  padding: 8rem 0;
}
.footer__links li a {
  text-decoration: none;
  margin-right: 1.5rem;
  color: #fff;
}
footer h1 {
  color: #fff;
  font-weight: 800;
}
footer h1 span {
  color: rgb(255, 123, 0);
}
footer .icons {
  color: #fff;
}
footer .icons i {
  margin-right: 1.3rem;
}
